@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #8D8268;
    --primary-color: #D4D5B1;
    --secondary-color: #C8B27E;
    --danger-color: #E46767;
}

body {
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

/*

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
} */